<p id="notice"><%= notice %></p>

<h1>Holiday Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holiday_types.each do |holiday_type| %>
      <tr>
        <td><%= holiday_type.name %></td>
        <td><%= link_to 'Show', holiday_type %></td>
        <td><%= link_to 'Edit', edit_holiday_type_path(holiday_type) %></td>
        <td><%= link_to 'Destroy', holiday_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holiday Type', new_holiday_type_path %>
